
/*-----------[ rs Sweetalert ]----------*/
.swal2-overlay {
    overflow-y: auto;
}

.swal2-icon--success {
    border-color: #66a8a6;
}

.swal2-icon--success__line {
    background-color: #66a8a6;
}

.swal2-icon--success__ring {
    border: 4px solid rgba(102, 168, 166, 0.2);
}

.swal2-button:focus {
    outline: none;
    box-shadow: none;
}

.swal2-button {
    background-color: #e7ab3c;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: unset;
    border-radius: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/*.swal2-styled.swal2-cancel {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #aaa;
    color: #fff;
    font-size: 1.0625em;
}*/
.swal2-confirm.swal2-styled,
.swal2-styled.swal2-cancel
 {
    background-color: #e7ab3c;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: unset;
    border-radius: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding:8px 30px;
}

.swal2-button:hover {
    background-color: #252525;

}
button.swal2-confirm.swal2-confirm:hover.swal2-styled {
    background: #252525;
}
button.swal2-cancle.swal2-cancel:hover.swal2-styled {
    background: #e7ab3c;
}
.swal2-button:active {
    background-color: #e7ab3c;

}

.swal2-title {
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 15px;
}

.swal2-text {
  color: #333333;
  font-size: 15px;
  text-align: center;
}

.swal2-footer {
    margin-top: 0;
}

